include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include frappe_whatsapp_waha *.css
recursive-include frappe_whatsapp_waha *.csv
recursive-include frappe_whatsapp_waha *.html
recursive-include frappe_whatsapp_waha *.ico
recursive-include frappe_whatsapp_waha *.js
recursive-include frappe_whatsapp_waha *.json
recursive-include frappe_whatsapp_waha *.md
recursive-include frappe_whatsapp_waha *.png
recursive-include frappe_whatsapp_waha *.py
recursive-include frappe_whatsapp_waha *.svg
recursive-include frappe_whatsapp_waha *.txt
recursive-exclude frappe_whatsapp_waha *.pyc
